<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <%- include('partials/head') %>
  </head>
  <body>
    <%- include('partials/navigation') %>

    <main
      class="vh-100 container pt-2 text-center d-flex justify-content-center align-items-center"
    >
      <section>
        <h1 class="display-1">About!</h1>
        <p>
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Minima quasi
          voluptatum cumque et pariatur hic dolorem, reprehenderit voluptatem
          animi tempore repellendus provident explicabo commodi eius mollitia
          ipsa repellat cupiditate quae facere id magni delectus quia adipisci?
          Recusandae fuga voluptate quam possimus nemo nostrum repellat sit ex,
          quia, delectus facere aspernatur maiores. Maxime facere, quibusdam
          dicta minima impedit in veniam quo. Adipisci, nobis delectus. Nam,
          alias magni voluptate fugiat sit similique repellendus. Sit, hic quam.
          Cumque modi aperiam odio repellat, error aliquam praesentium impedit
          neque minus, unde quis quas, quia omnis doloribus ab culpa iusto id
          laborum quae quisquam et ratione. Enim suscipit dolore voluptatum
          perspiciatis assumenda corporis obcaecati magnam nisi amet rerum
          deserunt iste, inventore fugiat eligendi molestiae eum magni
          consequuntur accusantium unde tempora doloribus! Excepturi error
          consequatur autem ex quasi atque expedita soluta vel, voluptate
          maiores? Voluptatum saepe rem expedita explicabo accusamus, debitis
          ipsa ipsum modi earum officiis maiores optio impedit facere tempora
          maxime dolor recusandae similique ullam accusantium provident nesciunt
          tenetur. Adipisci tenetur perspiciatis sunt impedit dolore delectus
          dolorum provident obcaecati excepturi minima magnam odit nihil nobis
          est accusamus, laboriosam consequatur. Eligendi blanditiis labore in
          ab minus illum. Aspernatur illo, commodi deleniti cupiditate assumenda
          omnis perspiciatis ut beatae eaque, nostrum minima culpa incidunt!
          Culpa recusandae amet excepturi distinctio officiis cupiditate ad!
          Similique perferendis eos repellat officiis dolor accusamus tenetur
          in, illo ducimus repellendus saepe. Nostrum, error nobis pariatur
          atque tempora corporis quisquam rerum labore cupiditate ex officia
          culpa ullam asperiores. Omnis vel accusamus sapiente exercitationem
          distinctio, ab, molestias tempora rerum officia doloribus
          necessitatibus porro recusandae nisi commodi harum nemo earum ut quas
          amet! Dolor delectus iste labore voluptates quae quam minus iusto
          quasi quaerat ex, nesciunt sed explicabo molestias odit magnam quo.
          Dicta eos explicabo sunt, saepe fugiat minima ex officia repellat hic
          dignissimos illo. Nostrum, vero earum!
        </p>
      </section>
    </main>
    <%- include('partials/footer') %>
  </body>
</html>
